.adopt_button{
    text-align: center;
    height: 50px;
    margin: 3px auto;
    display: block;
    font-size: 20px;
}

.adopt_button:disabled{
    cursor: not-allowed;
}

.adoption_display{
    border: solid black 2px;
    border-radius: 15px;
    width: 350px;
    float: left;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 255, .2) 10px 6px 2px;
}

#adoption_page{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

aside{
    width:10%;
    min-width: 210px;
    float: left;
    margin-top: 200px;
}

.cat_image{
    width: 100%;
    height: 350px;
    border-bottom: solid black 2px;
    border-radius: 15px 15px 0px 0px;
}

.detail{
    text-align: left;
    margin-bottom: 5%;
    margin-left: 5%;
}

.heading{
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: -25px;
}

#right_icon{
    width:10%;
    min-width: 210px;
    float: right;
    margin-top: 200px;
}

main{
    min-width: 1800px;
    margin-top: -25px;
}

.name{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10%;
    font-size: 20px;
}