/*
Table of contents:
1. Table outline and elements (paddings...)
2. Div groups (affects the levelling of the icons)
3. Map Icons and Labels
4. Road/SignUp Button
5. Background of the Website and adjustable content sizing
*/


/*1. Table outline and elements */
table
{
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

th, td {
	padding:10px;
}

/*2. Div groups (affects the levelling of the icons)*/
#raised_div {
	margin-bottom:25%;
}

#lowered_div {
	margin-top:25%;
}

/*3. Map Icons and Labels*/
#icon_marketplace {
	background-image: url("../cat_images/placeholder.png");
	height:400px; 
	width:350px;
}

#icon_suite {
	background-image: url("../cat_images/placeholder.png");
	height:400px; 
	width:350px;
}

#icon_adoption {
	background-image: url("../cat_images/placeholder.png");
	height:400px; 
	width:350px;
}

.labels {
	font-size:200%;
	float:center;
	color:#cf8943
}


/*Probably going to need CSS for the road
Implement PHP to disable and hide button for when user is logged in.*/
.road {
	width:100%;
	background-color:#3B2713;
}

/*5. Background of the Website and adjustable content sizing*/
