/*
Table of contents:
1-Main Page Sections
2-Left Hand Side (information about cat)
3-Middle (avatar and sell)
4-Right Hand Side (interactions)
*/


/*
Main Page Sections
*/
content{
	margin-left: calc(20% - 75px);
	min-width: 1200px;	
}

#left{
	float: left;
	margin-top: 15px;
}

#middle{
	float: left;
	margin-top: 15px;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 24px;
}

#right{
	margin-top: 15px;
	float: left;
}

button{
	box-shadow: rgba(0, 0, 255, .2) 2px 6px 2px;
}

/*
Left Hand Side (information about cat)
*/
.details { /*The prompt*/
	float: left;
	margin-top: 15px;
	margin-bottom: 30px;
	width: 150px;
	margin-right: 25px;
	font-size: 20px;
}

.info { /*Real info we take from the database*/
	margin-top: 15px;
	margin-bottom: 30px;
	float: right;
	width: 150px;
	font-size: 20px;
}

/*
Middle (avatar and sell)
*/
#avatar{
	position: static;
	left:0px;
	top:0px;
	min-width: 500px;
	min-height: 500px;
	max-width: 500px;
	max-height: 500px;
	background-image: url("../cat_images/icons/background_effects.gif");
	background-position: center left;
	border: solid black 2px;
	box-shadow: rgba(0, 0, 255, .2) 10px 6px 2px;
}

#sell_cat {
	font-size: 24px;
	height: 50px;
	width: 150px;
	margin-bottom: 10px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 255, .2) 2px 6px 2px;
}

#cat_price{
	float: right;
	height: 40px;
	font-size: 24px;
	width: 15pc;
	box-shadow: rgba(0, 0, 255, .2) 2px 6px 2px;
}

#price_label {
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}

#stop_sell_cat {
	font-size: 24px;
	height: 50px;
	width: 200px;
	margin-bottom: 10px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 255, .2) 2px 6px 2px;
}

#for_sale_label {
	float: right;
	margin-left: 10px;
	margin-top: 7px;
}

a{
	text-decoration: underline;
	color: black;
}

/*
Right Hand Side (interactions)
*/
.interaction{
	float: left;
	width: 250px;
	height: 75px;
	font-size: 200%
}

.countdown{
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 14px;
}

.interaction:disabled {
	cursor: not-allowed;
}

