/*
Table of contents:

*/


/*Map Icons*/
.icon {
	height:600px; 
	width:350px;
}

#icon_marketplace {
	background-image: url("../cat_images/placeholder.png");
	height:600px; 
	width:350px;

}

#icon_suite {
	background-image: url("../cat_images/placeholder.png");
	height:600px; 
	width:350px;
}

#icon_adoption {
	background-image: url("../cat_images/placeholder.png");
	height:600px; 
	width:350px;
}

#raised_div {
	margin-bottom:25%;
}

#lowered_div {
	margin-top:25%;
}

.labels {
	font-size:200%;
	float:center;
	color:#cf8943
}

table
{
  margin-left: auto;
  margin-right: auto;
}

th, td {
	padding:100px;
}

/*Probably going to need CSS for the road
Implement PHP to disable and hide button for when user is logged in.*/
.road {
	height:25%;
	width:100%;
	padding:2.5%;
	background-color:#3B2713;
}

#logged_in {
	
}