/*
Table of contents:
1-Main Page Sections
2-Aside Section Content
3-Marketplace Section Content
4-Inner Table Content
*/

/*
Main Page Sections
*/
content{
	min-width: calc(210px + 580px + 210px);
	margin-top: -25px;
}

aside{
	width:10%;
	min-width: 210px;
	float: left;
	margin-top: 200px;
}

#marketplace{
	float: left;
	width: 80%;
	max-width: calc(100% - 420px);
	min-width: calc(580px); 
	/*470 vs 580. 470 is good enough but 580 doesn't let buy text fall off button*/
}

/*
Marketplace Section Content
*/

.forward_backward{
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image_button{
	width: 60px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.image_button:hover{
	cursor: pointer;
}

.page_label{
	text-align: center;
	float: left;
	min-width: 100px;
	width: calc(100% - 320px);
	height: 40px;
	/*TODO resize this text*/
}

#market_table{
	width: 100%;
	float: left;
	border-bottom: solid black 2px;
}

/*
Inner Table Content
*/
.cat_image{
	width: 150px;
	height: 150px;
	float: left;
	border: solid black 2px;
	border-bottom: 0px;
}

.row{
	width: calc(100% - 156px);
	float: left;
	border: solid black 2px;
	border-left: 0px;
	border-bottom: 0px;
	height: 150px;
}

.row_info{
	width: 88%;
	margin-left: 1%;
	height: 100%;
	float: left;
}

.name{
	float: left;
	width: 90%;
	margin-left: 10%;
}

.detail{
	width: 33.3%;
	float: left;
	height: 45px;
}

.purchase{
	width: 10%;
	height: 135px;
	float: left;
	margin-top: 15px;
	margin-right: 1%;
}

.buy_cat{
	width: 100%;
	height: 75px;
	margin-bottom: 15px;
}

.worth{
	height: 15px;
	width: 100%;
	text-align: center;
}

