/*
Table of contents:
1-Header Changes
2-Main Page Sections
3-Sign Up Rows
*/

/*
Header Changes
*/
#website_header{
	border-bottom: 0px;
	min-width: 400px;
}

header{
	height: 150px;
	border-bottom: solid black 2px;
}

#website_title{
	margin-left: calc(50% - 125px);
}

/*
Main Page Sections
*/
content{
	float: left;
	width: 40%;
	min-width: 400px;
	margin-left: calc(44% - 200px);
}

#sign_up_title{
	font-size: 32px;
	text-align: center;
	width: 150px;
	margin-left: calc(50% - 75px);
	margin-top: 20px;
}

#sign_up_submit{
	font-size: 35px;
	font-weight: bold;
	color: #FFE3E0;
	background: url(../cat_images/icons/Submit_Button.png);
	background-size: 300px 200px;
	background-position: center;
	border-style: none;
	width: 300px;
	height: 200px;
	margin-left: calc(50% - 150px);
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 65px;
}

/*
Sign Up Rows
*/
.sign_up_row{
	width: 100%;
	float: left;
	min-width: 400px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.sign_up_text{
	width: 25%;
	min-width: 140px;
	text-align: right;
	margin-right: 10px;
	float: left;
	font-size: 20px;
}

.sign_up_input{
	width: calc(85% - 140px);
	text-align: left;
	margin-left: 10px;
	float: left;
	font-size: 20px;
}

.error_message{
	width: calc(85% - 140px);
	float: right;
	margin-right: 35px;
	color: red;
}
