/*
Table of contents:
1-Main Page Sections
2-Sign Up Rows
*/

/*
Main Page Sections
*/
content{
	float: left;
	width: 40%;
	min-width: 400px;
	margin-left: calc(44% - 200px);
}

#sign_up_title{
	font-size: 32px;
	text-align: center;
	width: 150px;
	margin-left: calc(50% - 75px);
	margin-top: 20px;
}

#sign_up_submit{
	font-size: 100%;
	background: url(../cat_images/placeholder.png);
	width: 300px;
	height: 200px;
	margin-left: calc(50% - 150px);
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*
Sign Up Rows
*/
.sign_up_row{
	width: 100%;
	float: left;
	min-width: 400px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.sign_up_text{
	width: 25%;
	min-width: 140px;
	text-align: right;
	margin-right: 10px;
	float: left;
	font-size: 20px;
}

.sign_up_input{
	width: calc(85% - 140px);
	text-align: left;
	margin-left: 10px;
	float: left;
	font-size: 20px;
}

.error_message{
	width: 100%;
	float: left;
	color: red;
}
