/*NOTES:
should this file be renamed and only concerned with the base website things like the
menu, header, and footer? also font things and colours, and put things for other pages
in their own css file?

nothing in here is solid, I only did a few of these things to give a framework to start from

also how can we enforce a minimum width so things don't squish?

I threw stupid amounts of comments below to mark out some things that will need to be changed for sure

-MR
*/

/*TODO: organize elements in this file*/

*{
}

header{
	width: 99.5%; /*this should probably be 100% not gonna lie*/
	height: 200px; /*is this too much?*/
	border-bottom: solid black 2px; /*needs styling, this is temporary*/
}

#website_title{
	margin-left: 22px; /*TODO: position title*/
}

menu{
	position: relative;
	top: 0px;
	width: 60%;
	margin-left: 20%;
}

.menu_button{ /*this is mostly good. TODO: styling, making sure buttons don't squish off*/
	position: relative;
	text-align: center;
	float: left;
	width: 19%;
	color: #222222;
}

.menu_button:hover{
	color: #888888; /*TODO: stylize*/
}

#website_title{ /*TODO: stylize*/
	color: #222222;
	font-size: 50px;
}

body{
	width: 99.5%; /*this should probably be 100% not gonna lie*/
}

footer {
	width: 99.5%; /*this should probably be 100% not gonna lie*/
	border-top: solid black 2px; /*may want to change how we mark out this border*/
}

#footer_info{
	color: #222222; /*TODO: stylize*/
	font-size: 10px;
	float: left;
}


