/*
Table of contents:
1-Main Page Sections
2-Side Column - Info Column
3-Overview Album
*/

/*
1. Main Page Sections
*/
content {
	min-width: calc(210px + 580px + 210px);
	margin-top: -25px;
}

/*Header for the Page*/
.heading {
	float: center;
	width: 100%;
	text-align: center;
	font-size: 36px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-top: 15px;
}

/*General Table Elements*/
table {
	margin-left: auto;
	margin-right: auto;
	max-width:1000px;
	border-spacing: 0px;
	text-align: center;
}

/*Main Table*/
#big_table {
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 15px;
}

/*Rename Button, which will have some changes to an image*/
#rename_button {
	border: none;
	background-color: #e3d4b5;
	text-decoration: none;
	font-size: 15px;
	padding: 22px 20px;
	text-align: center;
	margin-right: 5px;
}

/*
2.Side Column - Info Column
*/
#info_col {
	max-width: 500px;
	border-right:solid black 2px;
	display: inline-block; 
	float: right;
	min-height: 472px;
	margin: -2px;
}

/*Main Cat Name on the Info Column*/
#name {
	font-size: 25px;
	text-align: center;
	height:50px; 
	width:300px;
	margin-left: 45px;
	margin-right: 5px;
	padding: 5px;
}

/*Last Visited Information*/
#lastvisit {
	font-size: 20px;
}

/*Visit button*/
#visit_button {
	border: none;
	background-color: #9f7e3c;
	text-decoration: none;
	font-size: 35px;
	padding: 15px 32px;
	text-align:center;
	margin-bottom: 30px;
}

/*For when the user has no cats*/
#adoption_button {
	border: none;
	background-color: #9f7e3c;
	text-decoration: none;
	font-size: 35px;
	padding: 15px 32px;
	text-align:center;
	margin-bottom: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

/*For when the user has no cats*/
#get_cat_prompt {
	font-size: 20px;
	margin-top: 95px;
	height: 30px;
}

/*Focused cat has bigger image and not clickable suggestion cursor*/
.overview_pic {
	height:170px;
	width:170px;
}

/*
3.Overview Album
*/

/*Picture Sizes of Multiple cats*/
.album_pic {
	height:150px;
	width:150px;
	padding: 10px;
	cursor: pointer;
}

/*Labels for Multiple Cat Names*/
#cats_names {
	font-size: 20px;
}

/*Page Label Indicator*/
#page_label {
	font-size: 25px;
}

/*Page buttons*/
.page_buttons {
	border: none;
	background-color: #e3d4b5;
	text-decoration: none;
	font-size: 15px;
	padding: 22px 20px;
	text-align: center;
	margin-right: 5px;
}

/*The maximum or minimum page has been reached*/
button:disabled {
	background-color: #f3ead9; /*Slightly lighter than if enabled. May want to update colouring?*/
	cursor: not-allowed;
}

/*Keep page buttons at the bottom even when there is no cats */
.cat_row {
	height: 198.5px;
}

/*Avoids the page buttons stacking.*/
.page_left {
	float: left;
	margin-left: 5px;
}

.page_right {
	float: right;
	margin-right: 5px;
}

td{
	min-width: 172px;
}
